<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhangfuyin.dao.StudentDao">

    <cache/>

    <sql id="Student_Classes_Sql">
        ts.id, ts.name ,ts.classes_id, ts.age ,tc.id as classes_id, tc.cname
    </sql>

    <resultMap id="BaseResultMap" type="com.zhangfuyin.entity.Student">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="age" property="age"/>
        <result column="classes_id" property="classesId"/>
        <association property="classes" javaType="com.zhangfuyin.entity.Classes">
            <id column="classes_id" property="id"/>
            <result column="cname" property="cname"/>
        </association>
    </resultMap>

    <select id="selectById" resultMap="BaseResultMap">
        select <include refid="Student_Classes_Sql"/>  from t_student ts
        left join  t_classes tc  on  ts.classes_id = tc.id
        where ts.id = #{id}
    </select>

    <insert id="insert" parameterType="com.zhangfuyin.entity.Student" useGeneratedKeys="true" keyProperty="id" >

        insert  into t_student(`name` , age) values (#{name},#{age})


    </insert>

    <insert id="insertStu"  parameterType="com.zhangfuyin.entity.Student">
        <selectKey order="AFTER" keyProperty="id" keyColumn="id" resultType="java.lang.Integer">
            select LAST_INSERT_ID()
        </selectKey>
        insert  into t_student(`name` , age) values (#{name},#{age})
    </insert>

</mapper>